/* Standard ------------------------------------------------------------------ */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Poppins;
}
a {
    display: inline-block;
    text-decoration: none;
    color: #000;
}
::selection {
    background: dodgerblue;
}
section {
    overflow: hidden;
}
html {
    scroll-behavior: smooth;
}
/* Fonts ------------------------------------------------------------ */
@font-face {
    font-family: Graphik;
    src: url(../fonts/GraphikBold.otf);
}
@font-face {
    font-family: Panton;
    src: url(../fonts/PantonRustHeavy-GrSh.otf);
}
@font-face {
    font-family: Kotanter;
    src: url(../fonts/Kontanter-Bold.otf);
}
@font-face {
    font-family: Intro;
    src: url(../fonts/IntroDemo-BlackCAPS.otf);
}
/* Animations ---------------------------------------------------------------- */
@keyframes vFade {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes vGrow {
    from {transform: scale(0.3);}
    to {transform: scale(1);}
}
/* ------------------------------------------------------------------------- */
/* Btn-3 --------------------------------------------------------------------------- */
.btn-3 {
    text-transform: uppercase;
    color: #fff;
    padding: 1.2vh 2.6vw;
    background: #063b77;
    position: relative;
    overflow: hidden;
    transition: 0.2s;
    transition-delay: 0.45s;
}
.btn-3 *, .btn-3:before, .btn-3:after {
    position: absolute;
    background: #39ff14;
}
.btn-3::before {
    content: '';
    top: 0;
    left: 100%;
    width: 100%;
    height: 2px;
    transition: 0.25s ease;
    transition-delay: 0.2s;
}
.btn-3::after {
    content: '';
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    transition: 0.25s ease;
    transition-delay: 0.2s;
}
.btn-3-line1 {
    bottom: 100%;
    left: 0;
    width: 2px;
    height: 100%;
    transition: 0.2s ease;
}
.btn-3-line2 {
    bottom: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    transition: 0.2s ease;
}
.btn-3:hover {
    background: #39ff14;
    box-shadow: 0 0 16px #39ff14;
    color: #000;
}
.btn-3:hover:before,
.btn-3:hover:after {
    left: 0;
}
.btn-3:hover .btn-3-line1,
.btn-3:hover .btn-3-line2 {
    bottom: 0;
}
/* Nav ---------------------------------------------------------------------------- */
.ham {
    position: fixed;
    top: 2vh;
    right: 1.6vw;
    z-index: 3;
    width: 60px;
    height: 59px;
    cursor: pointer;
    border-radius: 50%;
    background: linear-gradient(to right, #ee5353, #ff6b6b);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.9s;
    opacity: 0;
    animation: vFade 3s 3s forwards;
}
.ham:hover {
    transform: rotate(360deg);
}
.hamLine {
    width: 30px;
    height: 3px;
    background: #fff;
    border-radius: 30px;
    position: relative;
    transition: all 0.6s;
}
.hamLine::before,
.hamLine::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #fff;
    border-radius: 30px;
    left: 0;
    transition: all 0.6s;
}
.hamLine::before {
    bottom: 8px;
}
.hamLine::after {
    top: 8px;
}
.hamActive .hamLine {
    background: transparent;
}
.hamActive .hamLine::before {
    bottom: 0;
    left: 0;
    transform: rotate(45deg);
}
.hamActive .hamLine::after {
    top: 0;
    left: 0;
    transform: rotate(-45deg);
}
/* Side -------------------------------------------------------------------- */
.side {
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100vh;
    background: linear-gradient(45deg, #2e86de, #5f27cd);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.566);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1.2s;
}
.subSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.8s;
}
.side a {
    padding: 2vh 0;
    font-size: 24px;
    color: #fff;
    position: relative;
    top: 400px;
    font-family: Montserrat;
    transition: var(--i) ease-out;
}
.side a::after {
    content: '';
    position: absolute;
    bottom: 12px;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: 0.3s;
}
.side a:hover:after {
    width: 100%;
}
.sideActive {
    width: 20vw;
}
.sideActive .subSide {
    opacity: 1;
    pointer-events: all;
}
.sideActive a {
    top: 0;
}
/* Main ------------------------------------------------------------------ */
.hero {
    width: 100vw;
    height: 100vh;
    background: #1d2833;
    position: relative;
}
.dots {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    position: relative;
    opacity: 0;
    animation: vFade 3s 2s forwards;
    overflow: hidden;
}
.dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fff;
    filter: blur(.4px);
    -webkit-filter: blur(.4px);
    position: absolute;
}
.mainHero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: scale(0.3);
    animation: vGrow 2s forwards;
}
.mainHero h1 {
    font-family: Graphik;
    font-size: 14vw;
    color: #54a0ff;
}
.mainHero h3 {
    color: #00d2d3;
    font-family: Graphik;
    font-size: 5.6vw;
    letter-spacing: 0;
}
.subHero {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 70vh;
    background: url(../assets/herowave.svg);
    background-size: cover;
    opacity: 0;
    animation: vFade 2s 1s forwards;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}
.circ {
    width: 400px;
    height: 400px;
    background: linear-gradient(100deg, #2e86de, #00d2d3, #2e86de);
    background-size: 400%;
    background-position: 0;
    border-radius: 50%;
    position: relative;
    top: 200px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    font-size: 36px;
    padding-top: 80px;
    transition: all 17s;
}
.circ::after {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background: linear-gradient(100deg, #2e86de, #00d2d3, #2e86de);
    filter: blur(20px);
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    transition: 0.4s;
}
.circ:hover {
    background-position: 400%;
}
.circ:hover:after {
    opacity: 1;
}
/* Video ----------------------------------------------------------------------------- */
.fine {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fVideo {
    width: 100%;
    height: auto;
    object-fit: fill;
}
/* About -------------------------------------------------------------------------------- */
.abt {
    width: 100vw;
    height: 76vh;
    background: url(../assets/backs/wood1.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
.abtBox {
    display: inline-block;
    width: 55%;
    height: 80%;
    background: #212f3e;
    border-radius: 16px;
    display: flex;
    color: rgb(243, 250, 255);
}
.abt img {
    display: inline-block;
    border-radius: 12px 0 0 12px;
    transform: scale(1.06);
    height: 100%;
    width: 38%;
    object-fit: cover;
}
.abtWrite {
    width: 62%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.abt h1 {
    display: block;
    text-align: center;
    padding: 3vh 0;
    font-size: 6vh;
    font-family: Kotanter;
    font-weight: 100;
    transform: scale(0) rotate(360deg);
    transition: all 1.4s 0.6s;
}
.abt h1[data-scroll="in"] {
    transform: scale(1) rotate(0);
}
.abt p {
    padding: 2vh 12%;
    font-family: Montserrat;
    font-size: 1.5vw;
    text-align: justify;
}
.abt a {
    margin: auto;
    margin-top: 2vh;
}
/* Pen -------------------------------------------------------- */
.pen {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    background: url(../assets/backs/penBack.svg);
    background-size: cover;
    background-position: top;
    z-index: -2;
}
.pen h1 {
    padding-top: 16vh;
    padding-left: 4vw;
    padding-bottom: 9vh;
    font-family: Intro;
    font-weight: 100;
    font-size: 6vw;
}
.penImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    background: url(../assets/pens/pen.png);
    background-size: 56%;
    background-repeat: no-repeat;
    background-position: center;
}
.penRight,
.penLeft {
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.statBox {
    width: 60%;
    height: 22%;
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.623);
    margin: 3vh 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 2.8vw;
}
.statBox h2 {
    padding: 2vh 0;
}
.statin {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.stat {
    width: 0;
    height: 12px;
    border-radius: 30px;
    margin-bottom: 3vh;
    position: relative;
    transition: all 1.8s 0.6s ease;
}
/* Lines ------------------------------------------- */
#smooth[data-scroll="in"] #one {
    background: linear-gradient(to right, #2e86de, #5f27cd);
    width: 67%;
}
#smooth[data-scroll="in"] #two {
    background: linear-gradient(to right, #2e86de, #5f27cd);
    width: 97%;
}
#wt[data-scroll="in"] #one {
    background: linear-gradient(to left, #ee5353, #ff9f43);
    width: 41%;
}
#wt[data-scroll="in"] #two {
    background: linear-gradient(to left, #ee5353, #ff9f43);
    width: 87%;
}
#mat stat {
    transition: all 1.8s 1.2s ease;
}
#mat[data-scroll="in"] #one {
    background: linear-gradient(to right, #00d2d3, #2e86de);
    width: 34%;
}
#mat[data-scroll="in"] #two {
    background: linear-gradient(to right, #00d2d3, #2e86de);
    width: 99%;
}
#ink[data-scroll="in"] #one {
    background: linear-gradient(to right, #10ac84, #13ae4b);
    width: 68%;
}
#ink[data-scroll="in"] #two {
    background: linear-gradient(to right, #10ac84, #13ae4b);
    width: 91%;
}
#lst[data-scroll="in"] #one {
    background: linear-gradient(to right, #ffd400, #ff9f43);
    width: 23%;
}
#lst[data-scroll="in"] #two {
    background: linear-gradient(to right, #ffd400, #ff9f43);
    width: 89%;
}
/* Products ------------------------------------------------------------ */
.products {
    width: 100vw;
    height: auto;
    background: url(../assets/backs/loginBack.svg);
    background-size: cover;
    background-attachment: fixed;
}
.products h1 {
    text-align: center;
    color: #fff;
    font-size: 120px;
    padding: 3vh 0;
}
.productCont {
    padding: 3vh 5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.pCard {
    width: 23vw;
    height: 40vh;
    background: #f4f4f4;
    border-radius: 16px;
    box-shadow: 0 0 16px rgba(0, 0, 0);
    margin: 3vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.pCard h3 {
    position: absolute;
    font-size: 5vw;
    z-index: 0;
    opacity: 0;
    color: #222;
    transition: 0.9s;
    pointer-events: none;
}
#mont {
    font-size: 3.2vw;
}
#wood {
    font-size: 3vw;
}
#sam {
    font-size: 3vw;
}
.pImg {
    transform: translateY(16%);
    width: 60%;
    transition: 0.3s;
}
.pCard h4 {
    font-size: 2.5vw;
    transform: translateY(10%);
    opacity: 0;
    transition: 0.2s;
}
.pCard h5 {
    font-size: 2.3vw;
    transform: translateY(15%);
    opacity: 0;
    transition: 0.2s 0.2s;
}
.pCard:hover h3 {
    opacity: 0.1;
}
.pCard:hover h4 {
    transform: translateY(0);
    opacity: 1;
}
.pCard:hover h5 {
    transform: translateY(0);
    opacity: 1;
}
.pCard:hover .pImg {
    transform: translateY(0);
}
/* Environment -------------------------------------------------------------------- */
.env {
    width: 100vw;
    height: auto;
    padding: 4vh 0;
    display: flex;
    background: linear-gradient(to right, #13ae4b, #10ac84);
    z-index: -1;
}
.eL {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.eR {
    width: 60%;
    height: 100%;
    text-align: center;
    z-index: 0;
}
.eR h1 {
    font-family: Montserrat;
    font-size: 4vw;
    padding: 3vh 0;
}
.eR p {
    text-align: justify;
    padding: 2vh 6vw;
    font-size: 1.5vw;
}
.btn:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 100%;
    height: 0;
    opacity: 0;
    background: rgb(0, 106, 206);
    transition: all 0.4s;
    z-index: -1;
}
.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    padding: 1.4vh 3.2vw;
    border: 2px #000 solid;
    font-size: 1.6vh;
    overflow: hidden;
    z-index: 1;

    position: relative;
    transition: all 0.4s;
}
.btn:hover {
    color: #fff;
    border: 2px solid transparent;
}
.btn:hover:before {
    opacity: 1;
    height: 270%;
}
.btn:active:before {
    height: 400%;
}
.btn:after {
    content: ' \00bb';
    position: relative;
    left: 100%;
    transition: 0.4s;
}
.btn:hover:after {
    left: 5%;
}
/* News ---------------------------------------------------------- */
.news {
    background: url(../assets/backs/wood3.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.news h1 {
    text-align: center;
    padding: 3vh 0;
    font-size: 62px;
    color: #fff;
}
.owl-theme {
    padding: 7vh 8vw;
}
.item {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    border-radius: 12px;
    background: #fff;
    margin: 3vh 0;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.561);
}
.item img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 65%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.item h5 {
    text-align: center;
    font-size: 26px;
    padding: 1vh 3vw;
}
.item a {
    margin-bottom: 2.3vh;
    padding: 0.6vh 1.6vw;
    background: linear-gradient(315deg, #00d2d3, #10ac84);
    border-radius: 30px;
    transition: all 0.3s;
}
.item a:hover {
    transform: scale(1.1);
}
.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next {
    color: #fff;
    background: transparent;
    transition: 0.3s;
    margin: 0 3vw;
    margin-top: 5vh;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
    background: transparent;
    color: #5f27cd;
}
/* NewsLetter --------------------------------------------------------------------------------------------- */
.newsLetter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
}
.input {
    width: 30vw;
    height: auto;
    position: relative;
    margin: 3vh 0;
    margin-bottom: 2.6vh;
}
.inp {
    border: none;
    background: transparent;
    border-bottom: 2px #000 solid;
    color: #000;
    width: 100%;
    padding-top: 20px;
    font-size: 24px;
}
.lab {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.lab::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: dodgerblue;
    transition: all 1.2s;
}
.lab span {
    position: absolute;
    bottom: 1px;
    left: 0;
    font-size: 24px;
    color: #000;
    transition: all 0.4s;
}
.inp:focus + .lab::before,
.inp:valid + .lab::before {
    width: 100%;
}
.inp:focus + .lab span,
.inp:valid + .lab span {
    font-size: 20px;
    color: dodgerblue;
    transform: translateY(-30px);
}
.newsLetter button {
    margin-bottom: 5vh;
    border: none;
    font-size: 20px;
    background: #063b77;
    color: #fff;
    padding: 1vh 1.6vw;
    cursor: pointer;
    border-radius: 18px;
    transition: 0.4s;
}
.newsLetter button:hover {
    background: #212f3e;
    padding: 1vh 2vw;
}
/* Footer ------------------------------------------------------------------------------------ */
footer {
    width: 100vw;
    height: auto;
    background: #010101;
    background-size: cover;
    display: flex;
    padding: 2vh 8vw;
    padding-bottom: 4vh;
    overflow: hidden;
}
.foot {
    flex: 1;
    height: auto;
    color: #fff;
    text-align: center;
}
.foot:nth-child(2) {
    flex: 2;
    text-align: center;
}
.foot h2 {
    font-size: 3vw;
}
.socialCont {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2vh 0;
}
.socialCont i {
    color: #00d2d3;
    transition: all 0.3s;
}
.socialCont i:hover {
    transform: scale(1.4);
}
.foot h4 {
    font-size: 2vh;
    margin: 3vh;
}
.pics {
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.pic {
    border: 1px #f4f4f4 solid;
    width: 30%;
    height: 10vh;
    flex: 1;
    border-collapse: collapse;
    margin: 3px;
}
.subFootCont {
    display: flex;
    height: 80%;
    padding: 0 6vw;
    overflow-y: scroll;
}
.subFoot {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.subFoot h4 {
    font-size: 2.6vh;
}
.subFoot a {
    color: rgb(62, 62, 62);
    font-size: 2vh;
    padding: 0.3vh 0;
    transition: 0.2s;
}
.subFoot a:hover {
    color: rgb(152, 153, 153);
}

/* Medias ------------------------------------------------------------------------------------------ */
@media (max-width: 1600px) {
    .abtBox {
        width: 60%;
        height: 90%;
        flex-direction: column-reverse;
    }
    .abt img {
        transform: scale(1);
        width: 100%;
        height: 40%;
        border-radius: 0 0 12px 12px;
        object-position: bottom center;
    }
    .abtWrite {
        width: 100%;
        height: 100%;
    }
    .abt h1 {
        font-size: 4.6vh;
        margin: 0;
    }
    .abt p {
        font-size: 2vw;
        padding: 0.6vh 8%;
        margin-bottom: 2vh;
    }
    .abt a {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1.8vh;
        padding: 1.2vh 4vw;
    }
    .input {
        width: 60%;
    }
    .newsLetter button {
        padding: 1vh 3vw;
    }
}
@media (max-width: 1200px) {
    .sideActive {
        width: 40%;
    }
    .pCard {
        width: 46%;
    }
    .env {
        flex-direction: column;
    }
    .eL, .eR {
        width: 100%;
    }
    .eR h1 {
        font-size: 6vw;
        padding: 2vh 0;
    }
    .eR p {
        font-size: 3vw;
        padding: 1.6vh 12vw;
        padding-bottom: 4vh;
    }
    .eR a {
        padding: 0.8vh 5vw;
        font-size: 1.8vh;
    }
    footer {
        flex-direction: column;
    }
    .foot {
        width: 100%;
    }
    .foot:nth-child(1) {
        margin-bottom: 10vh;
    }
    .foot:nth-child(2) {
        margin-bottom: 4vh;
    }
    .foot h2 {
        font-size: 8vw;
    }
    .socialCont {
        padding: 0 10vw;
    }
}
@media (max-width: 800px) {
    .pen {
        display: none;
    }
}
@media (max-width: 400px) {
    .mainHero h1 {
        font-size: 22vw;
    }
    .mainHero h3 {
        font-size: 8vw;
    }
    .circ{
        font-size: 8vw;
        width: 300px;
        height: 300px;
        top: 150px;
    }
    .ham {
        top: 10px;
        right: 10px;
    }
    .sideActive {
        width: 100%;
    }
    .abtBox {
        width: 90%;
        height: 90%;
        flex-direction: column-reverse;
    }
    .abt img {
        transform: scale(1);
        width: 100%;
        height: 40%;
        border-radius: 0 0 12px 12px;
        object-position: bottom;
    }
    .abtWrite {
        width: 100%;
        height: 100%;
    }
    .abt h1 {
        font-size: 4vh;
        margin: 0;
    }
    .abt p {
        font-size: 3.6vw;
        padding: 0.6vh 8%;
        margin-bottom: 2vh;
    }
    .abt a {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1.6vh;
        padding: 1.2vh 7vw;
    }
    .pen {
        display: none;
    }
    .products h1 {
        font-size: 46px;
    }
    .pCard {
        width: 90%;
    }
    .pCard h3 {
        font-size: 16vw;
    }
    #mont {
        font-size: 12vw;
    }
    #wood {
        font-size: 11vw;
    }
    #sam {
        font-size: 14vw;
    }
    .pCard h4 {
        font-size: 8vw;
    }
    .pCard h5 {
        font-size: 6vw;
    }
    .env {
        flex-direction: column;
    }
    .eL, .eR {
        width: 100%;
    }
    .eR h1 {
        font-size: 9vw;
        padding: 2vh 0;
    }
    .eR p {
        font-size: 4vw;
        padding: 1.6vh 12vw;
        padding-bottom: 4vh;
    }
    .eR a {
        padding: 0.8vh 5vw;
    }
    .news h1 {
        font-size: 50px;
    }
    .item a {
        padding: 0.6vh 8vw;
    }
    .newsLetter h1 {
        font-size: 40px;
    }
    .input {
        width: 86%;
        margin: 2vh 0;
    }
    .inp {
        font-size: 20px;
    }
    .lab span {
        font-size: 20px;
    }
    .inp:focus + .lab span,
    .inp:valid + .lab span {
    font-size: 14px;
    color: dodgerblue;
    transform: translateY(-24px);
    }
    .newsLetter button {
        padding: 0.8vh 7vw;
    }
    footer {
        flex-direction: column;
    }
    .foot {
        width: 100%;
    }
    .foot:nth-child(1) {
        margin-bottom: 10vh;
    }
    .foot:nth-child(2) {
        margin-bottom: 4vh;
    }
    .foot h2 {
        font-size: 14vw;
    }
}